{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>New Entry</h3>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'entries' %}">
              {% csrf_token %}
              {% crispy form %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}